<div class="flex flex-column slides-wrapper">
  <section class="justify-content-center flex w-100 slider-header">
    <h6>A Brief Intro to System Design & CQRS Design Pattern</h6>
  </section>
  <section class="flex flex-column justify-content-center slider-content" [ngSwitch]="currentSlideId">
    <section *ngSwitchCase='1' class="slide-wrapper">
        <div class="slide-title">
          <span>Birds Eye Overview of Session Plan</span>
        </div>
        <ul>
          <li>What's System Design?</li>
          <li>Aspects of Design thinking</li>
          <li>CQRS Design Pattern</li>
          <li>Real Time CQRS Design Pattern Scenario</li>
          <li>Way Ahead</li>
          <li>Watercooler convos</li>
        </ul>
    </section>
  </section>
</div>
