.slides-wrapper {
  .slider-header {
    min-height: 80px;
    margin: 12px 0px;
  }

  .slider-content {
    min-height: 80%;
  }

  .slide-wrapper {
    margin: auto;
  }

  .slide-title {
    font-size: 1.15rem;
    font-weight: 700;
    margin: 32px 0px;
  }

  ul {
    li {
      margin: 12px 0px;
    }
  }
}
