.slides-wrapper {
  .slider-header {
    min-height: 80px;
    margin: 12px 0px;
  }

  .slider-content {
    min-height: 80%;
  }

  .slide-wrapper {
    margin: auto;
  }

  .slide-item-content {
    margin: auto;
    padding: 24px;
  }

  .slide-item-img {
    width: 80%;
    height: 80%;
    margin: auto;
  }

  .slide-title {
    font-size: 1.15rem;
    font-weight: 700;
    margin: 32px 0px;
    text-align: center;
  }

  .slide-item {
    letter-spacing: 1.5px;
    margin-top: 8px;

    .slide-item-label {
      padding: 0px 4px;
    }
  }

  .water-cooler-slide-item {
    margin: 24px 0px;
    letter-spacing: 1.5px;
  }

  .cooler-title {
    font-size: 1.34rem;
    display: flex;
    align-items: center;
  }

  .water-cooler-slide-icon {
    width: 32px;
    margin: 0px 8px;
  }

  .cqrs-wrapper {
    flex: 1;
    margin: 12px 0px;
  }

  .normal-wrapper {
    flex: 0.5;
    margin: 18px 0px;
  }

  .cqrs-imgs {
    display: flex;
    justify-content: space-evenly;
    border: 1px dotted;
    padding: 24px;
  }

  ul {
    li {
      margin: 12px 0px;
    }
  }
}
