<div class="flex flex-column slides-wrapper">
  <section class="justify-content-center flex w-100 slider-header">
    <h6>A Brief Intro to System Design & CQRS Design Pattern</h6>
  </section>
  <section
    class="flex flex-column justify-content-center slider-content"
    [ngSwitch]="currentSlideId"
  >
    <section *ngSwitchCase="1" class="slide-wrapper">
      <div class="slide-title">
        <span>Birds Eye Overview of Session Plan</span>
      </div>
      <ul>
        <li>What's System Design?</li>
        <li>Aspects of Design thinking</li>
        <li>CQRS Design Pattern</li>
        <li>Real Time CQRS Design Pattern Scenario</li>
        <li>Way Ahead</li>
        <li>Watercooler convos</li>
      </ul>
    </section>
    <section *ngSwitchCase="2" class="slide-wrapper">
      <div class="slide-title">
        <span>What's System Design?</span>
      </div>
      <div>
        <div class="slide-item flex flex-column">
          <span class="slide-item-label">System:</span>
          <span class="slide-item-content"
            >Assembly of various different components to solve a business
            problem.
          </span>
          <img
            class="slide-item-img"
            src="../../../assets/images/basic-design.png"
          />
        </div>
        <div class="slide-item flex flex-column">
          <span class="slide-item-label">Design:</span>
          <span class="slide-item-content"
            >Optimistic / Efficient way of connecting the components to achieve
            desired performance and outcome.
          </span>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="3" class="slide-wrapper">
      <div class="slide-title">
        <span>Aspects of Design Thinking</span>
      </div>
      <div class="slide-item">
        <img src="../../../assets/images/aspects.png" />
      </div>
    </section>
    <section *ngSwitchCase="4" class="slide-wrapper">
      <div class="slide-title">
        <span>Availability</span>
      </div>
    </section>
    <section *ngSwitchCase="5" class="slide-wrapper">
      <div class="slide-title">
        <span>Scalability</span>
      </div>
    </section>
    <section *ngSwitchCase="6" class="slide-wrapper">
      <div class="slide-title">
        <span>Resiliency</span>
      </div>
    </section>
    <section *ngSwitchCase="7" class="slide-wrapper">
      <div class="slide-title">
        <span>Data Management</span>
      </div>
    </section>
    <section *ngSwitchCase="8" class="slide-wrapper">
      <div class="slide-title">
        <span>Performance</span>
      </div>
    </section>
    <section *ngSwitchCase="9" class="slide-wrapper">
      <div class="slide-title">
        <span>Security</span>
      </div>
    </section>
    <section *ngSwitchCase="10" class="slide-wrapper">
      <div class="slide-title">
        <span>CQRS Design Pattern</span>
      </div>
    </section>
    <section *ngSwitchCase="11" class="slide-wrapper">
      <div class="slide-title">
        <span>Real Time CQRS Design Pattern Scenario</span>
      </div>
    </section>
    <section *ngSwitchCase="12" class="slide-wrapper">
      <div class="slide-title">
        <span>Way Ahead</span>
      </div>
      <div>
        <section>
          Few take home reference links & courses
        </section>
        <ul>
          <li>
            <a href="https://github.com/prasadgujar/low-level-design-primer" target="_blank">
              https://github.com/prasadgujar/low-level-design-primer
            </a>
          </li>
          <li>
            <a href="https://www.educative.io/courses/grokking-the-system-design-interview" target="_blank">
              https://www.educative.io/courses/grokking-the-system-design-interview
            </a>
          </li>
          <li>
            <a href="https://www.educative.io/courses/web-application-software-architecture-101" target="_blank">
              https://www.educative.io/courses/web-application-software-architecture-101
            </a>
          </li>
          <li>
            <a href=" https://www.baeldung.com/cqrs-event-sourcing-java" target="_blank">
              https://www.baeldung.com/cqrs-event-sourcing-java
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section *ngSwitchCase="13" class="slide-wrapper">
      <div class="slide-title">
        <span>WaterCooler Convos</span>
      </div>
      <div>
        <div class="water-cooler-slide-item cooler-title">
          <img class="water-cooler-slide-icon" src="../../../assets/images/thumbs_up.svg" />
          <span>Let's Wrap up with your thoughts & queries!!!</span>
        </div>
        <div class="water-cooler-slide-item">
          <span>Note:</span>
          <span>You can find this session link
            <a href="https://akilas-techminutes.netlify.app/" target="_blank">here.</a>
          </span>
        </div>
        <div class="water-cooler-slide-item">
          Any queries ping / email to <a href="mailto:Akilandeswari.DA@enquero.com">Akilandeswari.DA@enquero.com</a>
        </div>
      </div>
    </section>
  </section>
</div>
