<div class="flex flex-column slides-wrapper">
  <section class="justify-content-center flex w-100 slider-header">
    <h6>A Brief Intro to System Design & CQRS Design Pattern</h6>
  </section>
  <section
    class="flex flex-column justify-content-center slider-content"
    [ngSwitch]="currentSlideId"
  >
    <section *ngSwitchCase="1" class="slide-wrapper">
      <div class="slide-title">
        <span>Birds Eye Overview of Session Plan</span>
      </div>
      <ul>
        <li>What's System Design?</li>
        <li>Aspects of Design thinking</li>
        <li>CQRS Design Pattern</li>
        <li>Real Time CQRS Design Pattern Scenario</li>
        <li>Way Ahead</li>
        <li>Watercooler convos</li>
      </ul>
    </section>
    <section *ngSwitchCase="2" class="slide-wrapper">
      <div class="slide-title">
        <span>What's System Design?</span>
      </div>
      <div>
        <div class="slide-item flex flex-column">
          <span class="slide-item-label">System:</span>
          <span class="slide-item-content"
            >Assembly of various different components to solve a business
            problem.
          </span>
          <img
            class="slide-item-img"
            src="../../../assets/images/basic-design.png"
          />
        </div>
        <div class="slide-item flex flex-column">
          <span class="slide-item-label">Design:</span>
          <span class="slide-item-content"
            >Optimistic / Efficient way of connecting the components to achieve
            desired performance and outcome.
          </span>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="3" class="slide-wrapper">
      <div class="slide-title">
        <span>Aspects of Design Thinking</span>
      </div>
      <div class="slide-item">
        <img src="../../../assets/images/aspects.png" />
      </div>
    </section>
    <section *ngSwitchCase="4" class="slide-wrapper">
      <div class="slide-title">
        <span>Availability</span>
      </div>
      <div class="slide-item">
        <div>
          <span>Availability is the percentage of time system is up in a defined timeframe.</span>
          <span>Ideally zero / minimal <b>downtime</b> is strived to be achieved.</span>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="5" class="slide-wrapper">
      <div class="slide-title">
        <span>Scalability</span>
      </div>
      <div class="slide-item">
        <div>
          <span>Scalability is how the system resources can cope up with unpredictable customer demands.</span>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="6" class="slide-wrapper">
      <div class="slide-title">
        <span>Resiliency</span>
        <div class="slide-item">
          <div>
            <span>Resiliency is the ability of a system to gracefully handle the failures and recover from failures as soon as it can.</span>
          </div>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="7" class="slide-wrapper">
      <div class="slide-title">
        <span>Data Management</span>
      </div>
      <div class="slide-item">
        <div>
          <span>Data management plays a crucial role in scalability, availability, security and resiliency</span>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="8" class="slide-wrapper">
      <div class="slide-title">
        <span>Performance</span>
      </div>
      <div class="slide-item">
        <div>
          <span>Scalability and performance are interrelated. If there are more users compared to what the system can handle, it is natural that the system would encounter performance issues.</span>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="9" class="slide-wrapper">
      <div class="slide-title">
        <span>Security</span>
      </div>
      <div class="slide-item">
        <div>
          <span>Building secure systems gives an assurance to users that their data is in safe hands</span>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="10" class="slide-wrapper">
      <div class="slide-title">
        <span>CQRS Design Pattern</span>
      </div>
      <div>
        <div class="slide-item">
          <b>Command Query Resource Segregation (CQRS)</b> Design Pattern as the
          name implies is nothing but separating out your read and write models.
        </div>
        <div class="slide-item flex">
          <div class="normal-wrapper">
            <img src="../../../assets/images/cqrs.png" />
            <div>Traditional Approach of Handling read & write</div>
          </div>
          <div class="cqrs-wrapper">
            <div class="cqrs-imgs">
              <img
                style="max-height: 350px"
                src="../../../assets/images/cqrs-type-1.png"
              />
              <img
                style="max-height: 350px"
                src="../../../assets/images/cqrs-type-2.png"
              />
            </div>
            <div style="text-align: center">CQRS DESIGN MODEL</div>
          </div>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="11" class="slide-wrapper">
      <div class="slide-title">
        <span>Real Time CQRS Design Pattern Scenario</span>
      </div>
      <div class="slide-item">
        <div class="flex">
          <div>
            <img
              style="max-height: 350px"
              src="../../../assets/images/user-address-1.png"
            />
            <div>Existing Design of User Model</div>
          </div>
          <div style="padding: 0px 24px;">
            <span>New Features to add</span>
            <ul>
              <li>Group user address based on region</li>
              <li>Show permanent address of user</li>
              <li>
                Show changes made by user in his permananet address in last two
                months
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="12" class="slide-wrapper">
      <div class="slide-title">
        <span>Real Time CQRS Design Pattern Scenario (1.1)</span>
      </div>
      <div class="slide-item">
        <div class="flex">
          <div>
            <img
              style="max-height: 350px"
              src="../../../assets/images/user-address-1.1.png"
            />
            <div>CQRS Implementation</div>
          </div>
          <div class="flex flex-column" style="padding: 0px 24px;">
          <div>
            <span>Features Handled</span>
            <ul>
              <li>Group user address based on region</li>
              <li>Show permanent address of user</li>
            </ul>
          </div>
          <div>
            <span>Advantages</span>
            <ul>
              <li>Optimize read performance</li>
              <li>You can scale your read store independently</li>
            </ul>
          </div>
          <div>
            <span>Problem Statement Left</span>
            <ul>
              <li>
                Show changes made by user in his permananet address in last two
                months
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="13" class="slide-wrapper">
      <div class="slide-title">
        <span>Real Time CQRS Design Pattern Scenario (1.2)</span>
      </div>
      <div class="slide-item">
        <div class="flex">
          <div>
            <img
              style="max-height: 350px"
              src="../../../assets/images/user-address-1.2.png"
            />
            <div>CQRS Event SourcingImplementation</div>
          </div>
          <div class="flex flex-column" style="padding: 0px 24px;">
            <div>
              <span>Event Sourcing</span>
              <ul>
                <li>
                  Event Sourcing gives us a new way of persisting application
                  state as an ordered sequence of events. We can selectively query
                  these events and reconstruct the state of the application at any
                  point in time
                </li>
              </ul>
            </div>
            <div>
              <span>Advantages</span>
              <ul>
                <li>Optimize read performance</li>
                <li>You can scale your read store independently</li>
                <li>You can do time travel of the entity state.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section *ngSwitchCase="14" class="slide-wrapper">
      <div class="slide-title">
        <span>Way Ahead</span>
      </div>
      <div>
        <section>Few take home reference links & courses</section>
        <ul>
          <li>
            <a
              href="https://github.com/prasadgujar/low-level-design-primer"
              target="_blank"
            >
              https://github.com/prasadgujar/low-level-design-primer
            </a>
          </li>
          <li>
            <a
              href="https://www.educative.io/courses/grokking-the-system-design-interview"
              target="_blank"
            >
              https://www.educative.io/courses/grokking-the-system-design-interview
            </a>
          </li>
          <li>
            <a
              href="https://www.educative.io/courses/web-application-software-architecture-101"
              target="_blank"
            >
              https://www.educative.io/courses/web-application-software-architecture-101
            </a>
          </li>
          <li>
            <a
              href=" https://www.baeldung.com/cqrs-event-sourcing-java"
              target="_blank"
            >
              https://www.baeldung.com/cqrs-event-sourcing-java
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section *ngSwitchCase="15" class="slide-wrapper">
      <div class="slide-title">
        <span>WaterCooler Convos</span>
      </div>
      <div>
        <div class="water-cooler-slide-item cooler-title">
          <img
            class="water-cooler-slide-icon"
            src="../../../assets/images/thumbs_up.svg"
          />
          <span>Let's Wrap up with your thoughts & queries!!!</span>
        </div>
        <div class="water-cooler-slide-item">
          <span>Note:</span>
          <span
            >You can find this session link
            <a href="https://akilas-techminutes.netlify.app/" target="_blank"
              >here.</a
            >
          </span>
        </div>
        <div class="water-cooler-slide-item">
          Any queries ping / email to
          <a href="mailto:Akilandeswari.DA@enquero.com"
            >Akilandeswari.DA@enquero.com</a
          >
        </div>
      </div>
    </section>
  </section>
</div>
